form{
    background-color: cyan; 
 }
 table{
    border:1px solid grey;
}
td{
    border: 2px solid cyan;
}
img{
	height:100px;
	width:100px;
}
form input,form label{
    margin: 10px;
}
.errorMsg{
    color:red;
}
.invisible{
    display:none;
}
.visible{
    display:block;
}